.home {
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Smartphones */
@media all and (max-width: 768px) {
    
    .home {
        width: 90%;

    }
}